DATABASE_URL=postgresql://user:password@localhost:5432/db
GITHUB_REDIRECT_URI=
GITHUB_TOKEN=
JWT_SECRET_KEY=
GEMINI_API_KEY=
FRONTEND_URL=http://localhost:3000
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_APP_ID=
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
GITHUB_APP_PRIVATE_KEY=

# add this to your env

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db

POSTGRES_HOST=localhost
POSTGRES_PORT=5432

QDRANT_HOST=localhost
QDRANT_PORT=6333
Qdrant_URL=http://localhost:6333